
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
    text-decoration: none;
}
/* Início cabeçalho */
header{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
}
header h1{
    color: #fff;
    text-align: center;
}
/* Final do cabeçalho */


body{
    background-color: #f7f4eb;
}

.container{
    width: 95%;
    margin: auto;
    gap: 20px;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    grid-template-areas: "aside main main";

}

/* Início do main */
.container main{
    grid-area: main;
}
.container main .conteudo-main h1{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
}

/* Início do primeiro produto */
.container main .conteudo-main .produto01{
    margin-bottom: 20px;
    box-shadow: 0.2px 0.2px 3px #000;
}
.container main .conteudo-main .produto01 .num-pedido01{
    padding: 10px;
    background-color: #fff;
}
.container main .conteudo-main .produto01 .num-pedido01 span{
    display: flex;
    margin-bottom: 10px;
}
.container main .conteudo-main .produto01 .num-pedido01 span .produto{
    margin-right: 100px;
    font-size: 18px;
}
.container main .conteudo-main .produto01 .img-produto-descricao{
    display: flex;
    align-items: center;
}
.container main .conteudo-main .produto01 .img-produto-descricao .img-produto01{
    margin-right: 20px;
}
.container main .conteudo-main .produto01 .img-produto-descricao .img-produto01 img{
    width: 150px;
}
.container main .conteudo-main .produto01 .img-produto-descricao .descricao-valor h3{
    margin-bottom: 20px;
}
.container main .conteudo-main .produto01 .img-produto-descricao .descricao-valor p{
    display: flex;
    align-items: center;
}
.container main .conteudo-main .produto01 .img-produto-descricao .descricao-valor p strong{
    margin-right: 5px;
}
.container main .conteudo-main .produto01 .img-produto-descricao .descricao-valor p span{
    font-size: 30px;
}
/* Fim do primeiro produto */

/* Início do segundo produto */
.container main .conteudo-main .produto02{
    box-shadow: 0.2px 0.2px 3px #000;
}
.container main .conteudo-main .produto02 .num-pedido02{
    padding: 10px;
    background-color: #fff;
}
.container main .conteudo-main .produto02 .num-pedido02 span{
    display: flex;
    margin-bottom: 10px;
}
.container main .conteudo-main .produto02 .num-pedido02 span .produto{
    margin-right: 100px;
    font-size: 18px;
}
.container main .conteudo-main .produto02 .img-produto-descricao{
    display: flex;
    align-items: center;
}
.container main .conteudo-main .produto02 .img-produto-descricao .img-produto02{
    margin-right: 20px;
}
.container main .conteudo-main .produto02 .img-produto-descricao .img-produto02 img{
    width: 150px;
}
.container main .conteudo-main .produto02 .img-produto-descricao .descricao-valor h3{
    margin-bottom: 20px;
}
.container main .conteudo-main .produto02 .img-produto-descricao .descricao-valor p{
    display: flex;
    align-items: center;
}
.container main .conteudo-main .produto02 .img-produto-descricao .descricao-valor p strong{
    margin-right: 5px;
}
.container main .conteudo-main .produto02 .img-produto-descricao .descricao-valor p span{
    font-size: 30px;
}
/* Fim do segundo produto */


.container main .conteudo-main .dadospessoais{
    padding-top: 30px;
}
.container main .conteudo-main .dadospessoais h2{
    text-align: center;
}
/* Fim do main */





/* Início Aside */
.container aside{
    grid-area: aside;
}
.container aside .info-usuario .foto-nome{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    border-bottom: solid 1px #aaa;
}
.container aside .info-usuario .foto-nome .img-usuario{
    width: 150px;
}
.container aside .info-usuario .foto-nome h4{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.container aside .info-usuario .info{
    background-color: #fff;
}
.container aside .info-usuario .info .grupo-info{
    box-shadow: 0.2px 0.2px 1px 0.25px #000;
}
.container aside .info-usuario .info .grupo-info div{
    display: flex;
    align-items: center;
    padding: 10px;
}
.container aside .info-usuario .info .grupo-info div p{
    color: #000;
}
.container aside .info-usuario .info .grupo-info div:hover{
    background-color: #ccc;
}
.container aside .info-usuario .info .fa-solid{
    color: #4e6022;
    font-size: 30px;
}
.container aside .info-usuario .info span{
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
/* Final Aside */

/* Início do rodapé */
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000;
}
footer p{
    color: #fff;
    text-align: center;
}
/* Dim do rodapé */